name: ALE Psych Builds

on:
  push:
  workflow_dispatch:

jobs:
  build:
    name: Build ${{ matrix.platform }}
    permissions: write-all
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - platform: Windows
            os: windows-latest
            haxe_setup:
            build_cmd: haxelib run lime build windows
            extra_libs:
            pre_build_commands:
            artifact_path: export/release/windows/bin

          - platform: Windows x32
            os: windows-latest
            haxe_setup:
            build_cmd: haxelib run lime build windows -32 -D 32bits -D HXCPP_M32
            extra_libs:
            pre_build_commands:
            artifact_path: export/32bit/windows/bin

          - platform: Linux
            os: ubuntu-22.04
            haxe_setup:
            build_cmd: haxelib run lime build linux
            extra_libs: |
              sudo apt-get update
              sudo apt-get install -y libvlc-dev libvlccore-dev dpkg-dev file desktop-file-utils gtk-update-icon-cache
            pre_build_commands:
            artifact_path: export/release/linux/bin
            
          - platform: Android
            os: ubuntu-latest
            haxe_setup:
            build_cmd: haxelib run lime build android
            extra_libs:
            pre_build_commands: |
              haxelib run lime config ANDROID_SDK $ANDROID_HOME
              haxelib run lime config ANDROID_NDK_ROOT $ANDROID_NDK_LATEST_HOME
              haxelib run lime config JAVA_HOME $JAVA_HOME_17_X64
              haxelib run lime config ANDROID_SETUP true
            artifact_path: export/release/android/bin/app/build/outputs/apk/release/*.apk

          - platform: MacOS
            os: macos-15
            haxe_setup:
            build_cmd: haxelib run lime build macos --app-version="4.0.0-${{ github.run_id}}"
            pre_build_commands:
            artifact_path: export/release/macos/bin

          - platform: MacOS x64
            os: macos-15-intel
            haxe_setup:
            build_cmd: haxelib run lime build macos --app-version="4.0.0-${{ github.run_id}}"
            pre_build_commands:
            artifact_path: export/release/macos/bin

    steps:
      - name: Pull the New Commit
        uses: actions/checkout@v4.1.7

      - name: Setup Haxe
        if: ${{ !matrix.haxe_setup }}
        uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.3.7

      - name: Custom Haxe Setup
        if: ${{ matrix.haxe_setup }}
        run: ${{ matrix.haxe_setup }}

      - name: Install Main Libraries
        run: |
          haxelib --global git hmm https://github.com/ALE-Psych-Crew/hmm
          haxelib --global run hmm setup
          haxelib --global run hmm install

      - name: Install Extra Libraries
        if: ${{ matrix.extra_libs }}
        run: ${{ matrix.extra_libs }}

      - name: Pre-Build Commands
        if: ${{ matrix.pre_build_commands }}
        run: ${{ matrix.pre_build_commands }}

      - name: Build for ${{ matrix.platform }}
        run: ${{ matrix.build_cmd }}

      - name: Upload Game
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform }} Build
          path: ${{ matrix.artifact_path }}
          if-no-files-found: error
