name: ALE Psych Builds

on:
  push:
  workflow_dispatch:

jobs:
  build:
    name: Build ${{ matrix.platform }}
    permissions: write-all
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - platform: Windows
            os: windows-latest
            build_cmd: haxelib run lime build windows
            setup_libs: setup/install-haxelibs.bat
            extra_libs:
            pre_build_commands:
            post_build_commands:
            artifact_path: export/release/windows/bin

          - platform: Windows x32
            os: windows-latest
            build_cmd: haxelib run lime build windows -32 -D 32bits -D HXCPP_M32
            setup_libs: setup/install-haxelibs.bat
            extra_libs:
            pre_build_commands:
            post_build_commands:
            artifact_path: export/32bit/windows/bin

          - platform: Android
            os: ubuntu-latest
            build_cmd: haxelib run lime build android
            setup_libs: sh ./setup/install-haxelibs.sh
            extra_libs:
            pre_build_commands: |
              haxelib run lime config ANDROID_SDK $ANDROID_HOME
              haxelib run lime config ANDROID_NDK_ROOT $ANDROID_NDK_LATEST_HOME
              haxelib run lime config JAVA_HOME $JAVA_HOME_17_X64
              haxelib run lime config ANDROID_SETUP true
            post_build_commands:
            artifact_path: export/release/android/bin/app/build/outputs/apk/release/*.apk

          - platform: Linux
            os: ubuntu-latest
            build_cmd: haxelib run lime build linux
            setup_libs: sh ./setup/install-haxelibs.sh
            extra_libs: |
              sudo apt-get install libvlc-dev
              sudo apt-get install libvlccore-dev
            pre_build_commands:
            post_build_commands:
            artifact_path: export/release/linux/bin
            
          - platform: iOS
            os: macos-15
            build_cmd: haxelib run lime build ios -nosign -final
            setup_libs: sh ./setup/install-haxelibs.sh
            pre_build_commands:
            post_build_commands: |
              cd export/release/ios/build/Release-iphoneos
              mkdir Payload
              mv *.app Payload
              zip -r ALEPsych.ipa Payload
            artifact_path: export/release/ios/build/Release-iphoneos/*.ipa
            
          - platform: MacOS
            os: macos-15
            build_cmd: haxelib run lime build macos --app-version="4.0.0-${{ github.run_id}}"
            setup_libs: sh ./setup/install-haxelibs.sh
            pre_build_commands:
            post_build_commands:
            artifact_path: export/release/macos/bin
            
          - platform: MacOS x64
            os: macos-15-intel
            build_cmd: haxelib run lime build macos --app-version="4.0.0-${{ github.run_id}}"
            setup_libs: sh ./setup/install-haxelibs.sh
            pre_build_commands:
            post_build_commands:
            artifact_path: export/release/macos/bin
            
    steps:
      - name: Pull the New Commit
        uses: actions/checkout@v4.1.7

      - name: Setup Haxe
        uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.3.7

      - name: Install Extra Libraries
        if: ${{ matrix.extra_libs }}
        run: ${{ matrix.extra_libs }}

      - name: Install Main Libraries
        run: ${{ matrix.setup_libs }}

      - name: Pre-Build Commands
        if: ${{ matrix.pre_build_commands }}
        run: ${{ matrix.pre_build_commands }}

      - name: Build for ${{ matrix.platform }}
        run: ${{ matrix.build_cmd }}

      - name: Post-Build Commands
        if: ${{ matrix.post_build_commands }}
        run: ${{ matrix.post_build_commands }}

      - name: Upload Game
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform }} Build
          path: ${{ matrix.artifact_path }}
          if-no-files-found: error
