name: ALE Psych Builds

on:
  push:
  workflow_dispatch:

jobs:
  build:
    name: Build ${{ matrix.platform }}
    permissions: write-all
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - platform: Windows
            os: windows-latest
            haxe_setup: krdlab/setup-haxe@master
            build_cmd: haxelib run lime build windows
            setup_libs: ./install-haxelibs.bat
            extra_libs:
            pre_build_commands:
            post_build_commands:
            artifact_path: export/release/windows/bin

          - platform: Windows x32
            os: windows-latest
            haxe_setup: krdlab/setup-haxe@master
            build_cmd: haxelib run lime build windows -32 -D 32bits -D HXCPP_M32
            setup_libs: ./install-haxelibs.bat
            extra_libs:
            pre_build_commands:
            post_build_commands:
            artifact_path: export/32bit/windows/bin

          - platform: Linux
            os: ubuntu-22.04
            haxe_setup: krdlab/setup-haxe@master
            build_cmd: haxelib run lime build linux
            setup_libs: sh ./install-haxelibs.sh
            extra_libs: |
              sudo apt-get update
              sudo apt-get install -y libvlc-dev libvlccore-dev dpkg-dev file desktop-file-utils gtk-update-icon-cache
            pre_build_commands:
            post_build_commands:
            artifact_path: export/release/linux/bin
            
          - platform: Linux ARM64
            os: ubuntu-22.04-arm
            haxe_setup: |
              sudo add-apt-repository ppa:haxe/releases -y
              sudo apt-get update
              sudo apt-get install -y haxe
              mkdir $HOME/haxelib
              haxelib setup $HOME/haxelib
            build_cmd: haxelib run lime build linux
            setup_libs: sh ./install-haxelibs.sh
            extra_libs: |
              sudo apt-get update
              sudo apt-get install -y libvlc-dev libvlccore-dev dpkg-dev file desktop-file-utils gtk-update-icon-cache
            pre_build_commands:
            post_build_commands:
            artifact_path: export/release/linux/bin

          - platform: Android
            os: ubuntu-latest
            haxe_setup: krdlab/setup-haxe@master
            build_cmd: haxelib run lime build android
            setup_libs: sh ./install-haxelibs.sh
            extra_libs:
            pre_build_commands: |
              haxelib run lime config ANDROID_SDK $ANDROID_HOME
              haxelib run lime config ANDROID_NDK_ROOT $ANDROID_NDK_LATEST_HOME
              haxelib run lime config JAVA_HOME $JAVA_HOME_17_X64
              haxelib run lime config ANDROID_SETUP true
            post_build_commands:
            artifact_path: export/release/android/bin/app/build/outputs/apk/release/*.apk

          - platform: MacOS
            os: macos-15
            haxe_setup: krdlab/setup-haxe@master
            build_cmd: haxelib run lime build macos --app-version="4.0.0-${{ github.run_id}}"
            setup_libs: sh ./install-haxelibs.sh
            pre_build_commands:
            post_build_commands:
            artifact_path: export/release/macos/bin

          - platform: MacOS x64
            os: macos-15-intel
            haxe_setup: krdlab/setup-haxe@master
            build_cmd: haxelib run lime build macos --app-version="4.0.0-${{ github.run_id}}"
            setup_libs: sh ./install-haxelibs.sh
            pre_build_commands:
            post_build_commands:
            artifact_path: export/release/macos/bin

    steps:
      - name: Pull the New Commit
        uses: actions/checkout@v4.1.7

      - name: Setup Haxe
        run: ${{ matrix.haxe_setup }}
        with:
          haxe-version: 4.3.7

      - name: Install Extra Libraries
        if: ${{ matrix.extra_libs }}
        run: ${{ matrix.extra_libs }}

      - name: Install Main Libraries
        run: ${{ matrix.setup_libs }}

      - name: Pre-Build Commands
        if: ${{ matrix.pre_build_commands }}
        run: ${{ matrix.pre_build_commands }}

      - name: Build for ${{ matrix.platform }}
        run: ${{ matrix.build_cmd }}

      - name: Post-Build Commands
        if: ${{ matrix.post_build_commands }}
        shell: bash
        run: ${{ matrix.post_build_commands }}

      - name: Upload Game
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform }} Build
          path: ${{ matrix.artifact_path }}
          if-no-files-found: error
