name: ALE Psych Builds

on:
  push:
  workflow_dispatch:

jobs:
  build:
    name: Build ${{ matrix.platform }}
    permissions: write-all
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}

    strategy:
      matrix:
        include:
          - platform: Windows
            os: windows-latest
            container:
            haxe_setup:
            build_cmd: haxelib run lime build windows
            extra_libs:
            pre_build_commands:
            artifact_path: export/release/windows/bin

          - platform: Windows x32
            os: windows-latest
            container:
            haxe_setup:
            build_cmd: haxelib run lime build windows -32 -D 32bits -D HXCPP_M32
            extra_libs:
            pre_build_commands:
            artifact_path: export/32bit/windows/bin

          - platform: Linux
            os: ubuntu-22.04
            container:
            haxe_setup:
            build_cmd: haxelib run lime build linux
            extra_libs: |
              sudo apt-get update
              sudo apt-get install -y libvlc-dev libvlccore-dev dpkg-dev file desktop-file-utils gtk-update-icon-cache
            pre_build_commands:
            artifact_path: export/release/linux/bin

          - platform: Nintendo Switch
            os: ubuntu-latest
            container: devkitpro/devkita64:latest
            haxe_setup: |
              sudo apt-get update
              sudo apt-get install -y wget git neko libgc-dev
              wget https://github.com/HaxeFoundation/haxe/releases/download/4.3.4/haxe-4.3.4-linux64.tar.gz
              mkdir haxe_temp
              tar -xf haxe-4.3.4-linux64.tar.gz -C haxe_temp
              sudo cp -r haxe_temp/haxe_*/* /usr/local/bin/
              mkdir -p ~/haxelib
              haxelib --always --quiet setup ~/haxelib
              haxelib --global --always --quiet update haxelib
            build_cmd: haxelib run lime build Project.xml switch --app-version="4.0.0-${{ github.run_id}}" -D officialBuild
            extra_libs: |
              dkp-pacman -Sy --noconfirm
                  
              dkp-pacman -S --needed --noconfirm \
                
              switch-bzip2 switch-cmake switch-curl switch-flac \
              switch-freetype switch-glad switch-glm switch-harfbuzz \
              switch-libdrm_nouveau switch-libjpeg-turbo switch-libmodplug \
              switch-libogg switch-libopus switch-libpng switch-libvorbis \
              switch-libvorbisidec switch-libwebp switch-mesa switch-mpg123 \
              switch-openal-soft switch-opusfile switch-pkg-config switch-sdl2 \
              switch-sdl2_gfx switch-sdl2_image switch-sdl2_mixer \
              switch-sdl2_net switch-sdl2_ttf switch-tools switch-zlib \
              switch-liblua51
                  
              haxelib --always --quiet install format
              haxelib --always --quiet install hxp
              haxelib --always --quiet git lime https://github.com/Slushi-Github/lime-nx.git
              haxelib --always --quiet git hxcpp https://github.com/Slushi-Github/hxcpp-nx.git
              haxelib --always --quiet git hx_libnx https://github.com/Slushi-Github/hx_libnx.git
            pre_build_commands: |
              cd ~/haxelib/hxcpp/git/tools/hxcpp
              haxe compile.hxml
              cd -
                  
              haxelib run lime rebuild switch
            artifact_path: export/release/switch/bin/*.nro
            
          - platform: Android
            os: ubuntu-latest
            container:
            haxe_setup:
            build_cmd: haxelib run lime build android
            extra_libs:
            pre_build_commands: |
              haxelib run lime config ANDROID_SDK $ANDROID_HOME
              haxelib run lime config ANDROID_NDK_ROOT $ANDROID_NDK_LATEST_HOME
              haxelib run lime config JAVA_HOME $JAVA_HOME_17_X64
              haxelib run lime config ANDROID_SETUP true
            artifact_path: export/release/android/bin/app/build/outputs/apk/release/*.apk

          - platform: MacOS
            os: macos-15
            container:
            haxe_setup:
            build_cmd: haxelib run lime build macos --app-version="4.0.0-${{ github.run_id}}"
            pre_build_commands:
            artifact_path: export/release/macos/bin

          - platform: MacOS x64
            os: macos-15-intel
            container:
            haxe_setup:
            build_cmd: haxelib run lime build macos --app-version="4.0.0-${{ github.run_id}}"
            pre_build_commands:
            artifact_path: export/release/macos/bin

    steps:
      - name: Pull the New Commit
        uses: actions/checkout@v4.1.7

      - name: Setup Haxe
        if: ${{ !matrix.haxe_setup }}
        uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.3.7

      - name: Custom Haxe Setup
        if: ${{ matrix.haxe_setup }}
        run: ${{ matrix.haxe_setup }}

      - name: Install Main Libraries
        run: |
          haxelib --global git hmm https://github.com/ALE-Psych-Crew/hmm
          haxelib --global run hmm setup
          haxelib --global run hmm install

      - name: Install Extra Libraries
        if: ${{ matrix.extra_libs }}
        run: ${{ matrix.extra_libs }}

      - name: Pre-Build Commands
        if: ${{ matrix.pre_build_commands }}
        run: ${{ matrix.pre_build_commands }}

      - name: Build for ${{ matrix.platform }}
        run: ${{ matrix.build_cmd }}

      - name: Upload Game
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform }} Build
          path: ${{ matrix.artifact_path }}
          if-no-files-found: error
